.latch-settings {
    margin: 16px 10px 10px;
}

.latch-settings .title {
    font-size: 123.1%;
    font-weight: bold;
    padding-bottom: 0.5em;
}

.latch-settings .row {
    height: 2.5em;
    padding: 0.333em;
}

.latch-settings .apply {
    clear: both;
    margin: 2em 12em;
}

.latch-settings .row div {
    float: left;
}
.latch-settings .label {
    font-weight: bold;
    padding: 0.2em 0.8em 0 1em;
    width: 10em;
}